.icons{
    font-size: 3rem;
    height: 15px;
    color: burlywood;
    margin: 3%;
}

.search-icon{
    font-size: 3rem;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    

}